.list_wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    border-radius: 32px;
    border: #acacac 1px solid;
    text-decoration: none;
    h2 {
        font-size: 1.8rem;
        color: #fff;
    }
    img {
        width: 20px;
        height: 20px;
        object-fit: cover;
    }
}
