.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    img {
        width: 180px;
        height: 180px;
        object-fit: cover;
        margin-top: 10px;
        margin-bottom: 30px;
    }
    .select_btns {
        display: flex;
        gap: 20px;
        a {
            transition: 0.3s;
            text-decoration: none;
            &:hover {
                background-color: rgba(255, 255, 255, 0.1);
                border-radius: 32px;
            }
        }
    }
    .foot_link {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 30px;
        align-items: center;
        margin-top: 90px;
        a {
            color: #fff;
            font-size: 1.6rem;
            text-align: center;
            min-width: 180px;
        }
    }
}
